{% extends 'layout.html' %}
{% block content %}
    <form method="POST" action="" class="form">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>Log in</legend>
            <div class="form_item">
                {{ form.email.label(class="form_item_label")}}
                {% if form.email.errors %}
                    {{ form.email(class="form_item_input bad_input")}}
                    {% for error in form.email.errors%}
                        <span class="bad_input_text">{{ error }}</span>
                    {% endfor %}
                {% else %}
                    {{ form.email(class="form_item_input")}}
                {% endif %}
            </div>

            <div class="form_item">
                {{ form.password.label(class="form_item_label")}}
                {% if form.password.errors %}
                    {{ form.password(class="form_item_input bad_input")}}
                    {% for error in form.password.errors%}
                        <span class="bad_input_text">{{ error }}</span>
                    {% endfor %}
                {% else %}
                    {{ form.password(class="form_item_input")}}
                {% endif %}
            </div>

            <div class="form_item">
                {{ form.submit(class="form_item_input submit")}}
            </div>
        </fieldset>
    </form>
    <div class="hint">
        <span>Don't have an account?</span>
        <a href="{{url_for("users.login")}}"> Sign up </a>
    </div>
     <div class="hint">
        <span>Did you forget a password?</span>
        <a href="{{url_for("users.request_reset")}}"> Reset password </a>
    </div>
{% endblock %}