{% extends 'layout.html' %}
{% block content %}
    <form method="POST" action="" class="form">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>Enter a new password</legend>
            <div class="form_item">
                {{ form.password.label(class="form_item_label")}}
                {% if form.password.errors %}
                    {{ form.password(class="form_item_input bad_input")}}
                    {% for error in form.password.errors%}
                        <span class="bad_input_text">{{ error }}</span>
                    {% endfor %}
                {% else %}
                    {{ form.password(class="form_item_input")}}
                {% endif %}
            </div>

            <div class="form_item">
                {{ form.confirm_password.label(class="form_item_label")}}
                {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class="form_item_input bad_input")}}
                    {% for error in form.confirm_password.errors%}
                        <span class="bad_input_text">{{ error }}</span>
                    {% endfor %}
                {% else %}
                    {{ form.confirm_password    (class="form_item_input")}}
                {% endif %}
            </div>

            <div class="form_item">
                {{ form.submit(class="form_item_input submit")}}
            </div>
        </fieldset>
    </form>
{% endblock %}