{% extends 'layout.html' %}
{% block content %}
    {% for post in posts.items %}
        <div class="post">
            <a class="name" href="{{ url_for('user_posts', username=post.author.username)}}"><img src="{{ url_for('static', filename="profile_pictures/" + post.author.img)}}" alt="Posts author image." class="article_img"></a>
            <div class="content">
                <div class="metadata">
                    <p><a class="name" href="{{ url_for('users.user_posts', username=post.author.username)}}">{{ post.author.username}}</a></p>
                    <p class="date">{{post.posted_date.strftime("%a %m %Y")}}</p>
                </div>
                <h2><a href="{{url_for('posts.post', post_id = post.id)}}">{{post.title}}</a></h2>
                <p>{{post.content}}</p>
            </div>
        </div>
    {% endfor %}
    <div class="pagination">
    {%- for page in posts.iter_pages(left_edge=1,right_edge=1, left_current=1, right_current=2) %}
        {% if page != None %}
            {% if page == posts.page %}
                <a href="{{ url_for("users.user_posts", page=page, username=posts.query.first().author.username) }}" class="pagination_item active" >{{ page }}</a>
            {% else %}
                <a href="{{ url_for("users.user_posts", page=page, username=posts.query.first().author.username) }}" class="pagination_item" >{{ page }}</a>
            {% endif %}
        {% else %}
            <a class="pagination_item" >...</a>
        {% endif %}
    {% endfor %}
    </div>
{% endblock content%}

